.projects-wrapper {
  height: 300%;
}

.projects-hero {
  min-height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 0.014fr 1fr 0.014fr;
  justify-content: center;
  align-items: flex-start;
}

.projects-heading {
  grid-column-start: 2;
  font-weight: bold;
  font-size: 1.6rem;
}

.projects-body {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5px;
}

.projects {
  height: 500px;
  width: 725px;
  border: 15px solid #ffffff;
  border-bottom: 50px solid #fff;
  margin-bottom: 6%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.link-items {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.projects-inner {
  height: 100%;
  width: 100%;
}

.hoverable-heading {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  width: 330px;
  transition: 0.5s ease;
  opacity: 0;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
}

.projects-inner:hover .hoverable-heading {
  opacity: 1;
}

.projects-number {
  color: #000000;
  margin-left: 630px;
  font-weight: normal;
  font-family: ShadowsIntoLight-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#womanUp {
  background: url('../../../assets/images/projects-backgrounds/AFRICAN_WANDERERS.jpeg');
  background-size: cover;
}

#tradernity {
  background: url('../../../assets/images/projects-backgrounds/TRADERNITY.jpeg');
  background-size: cover;
}

#panther {
  background: url('../../../assets/images/projects-backgrounds/BLACK_PANTHER.jpeg');
  background-size: cover;
}

#chaos {
  background: url('../../../assets/images/projects-backgrounds/CHAOS.jpeg');
  background-size: cover;
}

/* Media Queries */
/* Mobile */
@media all and (max-width: 480px) {
  .projects-body {
    grid-template-columns: 1fr;
  }

  .projects {
    
  }

  .hoverable-heading {
    opacity: 1;
    width: 100%;
    font-size: 0.7rem;
  }

  .projects-number {
    margin-left: 85%;
  }
}

/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
  .projects {
    width: 100%;
    margin: 0 2% 3%;
  }

  .hoverable-heading {
    opacity: 1;
    width: 100%;
    font-size: 1.5rem;
  }

  .projects-number {
    margin-left: 94%;
  }
}

@media (hover: none), (hover: on-demand) {
  .projects-inner:hover {
    /* suppress hover effect on devices that don't support hover fully */
    background: none;
  }
}
