.about-wrapper {
    height: 100%;
}

.about-hero {
    min-height: 100px;
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    justify-content: center;
    align-items: flex-start;
}

.aboutHero-heading {
    grid-column-start: 2;
    font-weight: normal;
    font-size: 1.8rem;
}

.about-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    width: 50%;
    text-align: justify;
}

/* Media Queries */
/* Mobile */
@media all and (max-width: 480px) {
    .about-hero {
        justify-items: center;
    }
}