.hero-wrapper {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-heading {
    font-size: 3rem;
    font-weight: normal;
}

/* Media Queries */
/* Mobile */
@media all and (max-width: 480px) {
    .hero-heading {
        font-size: 2.5rem;
    }
}