.project2-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project2-images {
    width: 60%;
    margin-bottom: 50px;
}

/* Media Queries */
/* Mobile */
@media all and (max-width: 480px) {
    .project2-images {
        width: 92%;
    }
}

/* Tablet */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1366px) {
    .project2-images {
        width: 80%;
    }
}