.footer-wrapper {
  height: 350px;
  width: 100%;
  background: #000000;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

.socials-wrapper {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.socials-heading {
  font-size: 1rem;
  padding-right: 20px;
}

a {
  text-decoration: none;
  list-style-type: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a:visited {
  color: #000000;
}

.names-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.socials-icon {
  font-size: 1.3rem;
  color: #000000;
}

.crafted-by {
  height: 100%;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.rights {
  height: 100%;
  font-weight: bold;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

/* Media Queries */
/* Mobile */
@media all and (max-width: 480px) {
  .footer-wrapper {
    margin-top: 12%;
    min-height: 100px;
    grid-template-columns: 2fr;
  }

  .socials-wrapper {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    padding: 0;
    justify-items: center;
    margin-bottom: 12px;
  }

  .names-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    margin-bottom: 12px;
  }

  .socials-heading {
    font-size: 0.9rem;
    padding: 0 10px 0 10px;
  }

  .crafted-by {
    font-size: 0.9rem;
  }

  .rights {
    font-size: 0.9rem;
    padding: 0;
  }
}

/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
  .footer-wrapper {
    grid-template-columns: 0.4fr 1fr;
    margin-top: 40px;
  }

  .socials-wrapper {
    padding: 0 20px;
  }

  .names-wrapper {
    padding: 0;
  }

  .rights {
    padding-left: 10px;
    padding-right: 20px;
  }
}
